body,h1,h2,h3,h4,h5,h6,span,a,p{
    font-family: 'Work Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;

}
.clear::after{
    content: "";
    display: block;
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}
img{
    max-width: 100%;
}

/* main----css----start */
/* Slider-section */
.Slider-section{
    background: url(./img/slider.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    height:100vh;
    width: 100vw;
    background-position: top center;
    background-attachment: fixed;

}

.photo-1 img {
    width: 90px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.fixt{
    background: #ec116d;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
   padding: 0 200px;
}
.slider-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
.slider-menu ul li{
    display: inline-block;
}
.slider-menu ul li a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 0 10px;
    color: #fff;
    /* background: orange; */
    line-height: 77px;
    margin-left: -5px;
}
.slider-menu ul li:hover>a{
    color:#fbc7b1;
}
.slider-menu ul li:nth-child(1) .one{
    color: #fbc7b1;
}
/* Dropdown menu */
.slider-menu ul li{
    position: relative;
}
.slider-menu ul li ul{
    position: absolute;
    left: 0;
    top: 100%;
    width: 220px;
    background:#e01067;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top center;
    transition: .4s;
    box-shadow: 1px 2px 5px rgba(236, 17, 109);
    border-radius: 0px 0px 3px 3px;
}
.slider-menu ul li ul li a span{
    margin-left: 5px;
}
.slider-menu ul li:hover >ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
.slider-menu ul li ul li a{
    line-height: 0px;
    padding-top: 8px;
    padding-bottom:15px;
    padding-top: 15px;
    /* padding-left:20px; */
    margin: 0;
}
/* SUM */
.slider-menu ul li ul li{
    position: relative;
}
.slider-menu ul li ul li ul {
    position: absolute;
    left: 114%;
    top: 0;
    width: 140px;
    padding: 8px 12px;
}
/* slider-text */
.slider-text {
    padding-top: 260px;
}
.slider-text h1 {
    color: #fff;
    font-size: 80px;
    font-weight: 800;
    margin: 20px 0px;
}
.slider-text ul{
    list-style: none;

}
.slider-text ul::before{
    content: "";
    display: inline-block;
    height: 2px;
    width: 55px;
    background-color: #fff;
    position: relative;
    top: -4px;
}
.slider-text ul::after{
    content: "";
    height: 2px;
    width: 55px;
    position: relative;
    top:-4px;
   background-color: #fff;
   display: inline-block;
}
.slider-text ul li{
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 0px 10px;
}
.slider-text ul .one::before{
    content: "";
    height: 6px;
    width: 6px;
   border-radius: 50%;
   background-color: #fff;
   display: inline-block;
   position: relative;
   left: -12px;
   top: -1px;
}
.defult-btn{
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    border: 1px solid #fff;
    padding: 14px 40px;
    display: inline-block;
    margin-top:10px;
    text-decoration: none;
}
.defult-btn:hover{
    color: #fff;
}

/* about-section */
.about-section{
    background: #fefeff;
}
.about-photo{
    background: #eaedf4;
    box-shadow: 0 14px 43px 20px rgba(234, 237, 244,.6);
}
.about-content {
    box-shadow: 0 14px 43px 20px rgba(234, 237, 244,.6);
    padding: 20px 40px;
    margin-left: -24px;
    background: #fff;
}
.about-content h3 {
    background: #fcc747;
    display: inline-block;
    padding: 8px 30px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    position: relative;
}
.about-content h3::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -21px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 22px 22px 0 0;
    border-color: #f2cb3f transparent transparent transparent;
}
.about-content h4 {
    font-size: 23px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}
.about-content p {
    font-size: 20px;
    color: #767676;
    margin-bottom: 25px;
}
.t-row td {
    font-size: 18px;
    color: #767676;
    font-weight: 400;
    padding: 5px 0px;
}
.right-ttt {
    text-align: right;
    margin-left: 180px;
    display: inline-block;
}
.defult-ttt {
    display: inline-block;
    text-decoration: none;
    margin: 37px 0px;
    background: #3243e3;
    color: #fff;
    padding: 14px 28px;
    font-size: 16px;
}
.defult-ttt:hover{
    color: #fff;
    background: #0000ff;
}

/*protfolio*/
.protfolio-title h4 {
    background: #fcc747;
    display: inline-block;
    padding: 12px 22px;
    font-weight: 700;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}
.protfolio-title h5 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    
    font-family: 'Montserrat', sans-serif;
}
.protfolio-title ul{
    list-style: none;
    margin-left:-60px;
}
.protfolio-title ul li{
    display: inline-block;
}
.protfolio-title ul li a{
    padding: 20px 6px;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    color: #000;
}
.protfolio-title ul li a span{
    color: #5a89b3;
}
.protfolio-title ul li a span::before {
    content: "";
    display: inline-block;
    background-color: rgb(85, 78, 78);
    width: 26px;
    height: 1px;
    position: relative;
    left: 26px;
    top: -3px;
}
.protfolio-photo{
    margin-bottom: 24px;
    position: relative;
}
.protfolio-photo:hover .p-photo-text{
  visibility: visible;
  height: 100%;
  width: 100%;
}
.p-photo-text{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    text-align: center;
    width:0;
    height:0;
    background:rgba(0,0,0,0.6);
    visibility: hidden;
}
.p-photo-text h5{
    font-size:18px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin: 10px 0px;
}
.p-photo-text p{
    font-size: 17px;
    color: #fff;
}
.p-photo-text span {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #f6cbd4;
    display: inline-block;
    margin-top: 187px;
    color: #fff;
}
 /* skills */
 .skills{
     background: #fdfdfe;
 }
 .skill-title h4 {
    background: #fcc747;
    display: inline-block;
    padding: 12px 30px;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}
.skill-title h5 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 55px;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
}

 .skill-box{
    box-shadow: 0 14px 43px 20px rgba(234, 237, 244,.6);
    padding: 30px;
    margin-bottom: 30px;
 }
 .s-left {
    float: left;
    height: 134px;
}
 .s-left img {
    /* float: left; */
    margin-right:30px;
}
.s-right-text h5 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 24px;
    font-family: 'Montserrat', sans-serif;
}
.s-right-text p {
    font-size: 18px;
    color: #767676;
}

.b1:hover{
    background: #eefcf8;
    transition: .4s;
}
.b3:hover{
    background: #fef5fa;
    transition: .4s;
}
.b2:hover{
    background: #f7f7fe;
    transition: .4s;
}
.b4:hover{
    background: #fefbf1;
    transition: .4s;
}
/* counter-section */
.counter-section{
    background: url(./img/counter.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: top center;
    padding: 90px 0px;
    background-attachment: fixed;
}
.c-text ul{
    list-style: none;
}
.c-text ul li {
    display: inline-block;
    color: #fff;
    padding: 0px 90px;
    font-family: 'Montserrat', sans-serif;
}
.c-text ul li h1{
    color: #fff;
    font-size: 45px;
    font-weight: 700;

}
/* Education */

.education-box{
    box-shadow: 0 14px 43px 20px rgba(234, 237, 244,.6);
    margin-bottom:20px;
    box-sizing: border-box;
    padding: 25px;
}
.e-left {
    margin-right: 28px;
}
.e-left h6 {
    background: #ec116c;
    display: inline-block;
    padding: 6px 10px;
    color: #fff;
}
.e-left h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    
    font-family: 'Montserrat', sans-serif;
}
.e-left h5 {
    font-size: 17px;
    color: #767676;
}
.e-right p {
    font-size:20px;
    color: #767676;
    line-height: 30px;
    font-weight: 500;
}
.education-photo img {
    height: 950px;
    width: auto;
}
/* employe */
.employe{
    background: #f0f4fd;
}

.employe-box{
    box-shadow: 0 14px 43px 20px rgba(234, 237, 244,.6);
    padding: 30px;
    background: #fff;
}
.employe-box img{
    width: 140px;
    height: auto;
}
.e-box h6 {
    background: #ec116c;
    display: inline-block;
    margin: 20px 0px;
    color: #fff;
    padding: 7px 12px;
    margin-right: 13px;
}
.e-box b {
    font-size: 21px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.e-box p{
    color: #767676;
}

/* poster */
.poster{
    background: #fff;
}
.sob{
    text-align: center;
}

.div1 img{
    width: 220px;
    height: auto;
}
.div2 ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.div2 ul li{
    display: inline-block;
    padding:20px 14px;
}
.div2 ul li img{
    width: 220px;
    height: auto;
}
.div3 ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.div3 ul li{
    display: inline-block;
    padding:20px 14px;
}
.div3 ul li img{
    width: 220px;
    height: auto;
}

/* hire */

.contact{
    text-align: center;
    padding: 50px 0px;
}
.contact ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.contact ul li{
    display: inline-block;
}
.contact ul li h3{
    font-size: 18px;
    color: #767676;
}
.contact ul li .an{
    height: 60px;
    width: 60px;
    line-height: 60px;
    border: 1px solid #64ddcb;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 30px;
    color: #64ddcb;
    font-size: 20px;
}
.contact ul li .an:hover{
    background: #64ddcb;
    color: #fff;
    border: none;
}
.contact ul li .an2{
    height: 60px;
    width: 60px;
    line-height: 60px;
    border: 1px solid #3243e3;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 30px;
    color: #3243e3;
    font-size: 20px;
}
.contact ul li .an2:hover{
    background: #3243e3;
    color: #fff;
    border: none;
}
.contact ul li .an3{
    height: 60px;
    width: 60px;
    line-height: 60px;
    border: 1px solid #ec116c;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 30px;
    color: #ec116c;
    font-size: 20px;
}
.contact ul li .an3:hover{
    background: #ec116c;
    color: #fff;
    border: none;
}

.box-all{
    box-shadow: 0 14px 43px 20px rgba(234, 237, 244,.6);
    /* background: #fff; */
}

.intput-type form input {
    width: 95%;
    margin-bottom: 31px;
    padding: 12px 15px;
    border: 1px solid #ddd;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
}

.intput-type form input:focus{
     border: 1px solid #f2cb3f;
     outline: 0;
}

.ttttt-r textarea{
    width:100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.ttttt-r textarea:focus{
    border: 1px solid #f2cb3f;
    outline: 0;
  
}

/* footer-lis */
.footer-list{
    background: #fdfefe;
}
.footer-list ul{
    list-style: none;
}
.footer-list ul li{
    display: inline-block;
}
.footer-list ul li a {
    font-size: 20px;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin: 30px 7px;
    color: #767676;
    transition: .4s;
}
.footer-list ul li a:hover{
    background: #ec116d;
    color: #fff;
}

.footer-list p{
    font-size: 20px;
    color: #767676;
    margin-top: 20px;
    display: inline-block;
}
.footer-list p span{
    font-size: 20px;
    color: #ec116d;
}