*{
    margin: 0;
    padding: 0;
}
/* header-section */

.main-div{
    width: 1024px;
    margin:50px auto;
}
.header{
    background: #34495e;
    padding: 40px 0px;
    text-align: center;
}
.header ul{
    list-style: none;
}
.header ul li{
    display: inline-block;
}
.header ul li a{
    display: inline-block;
    text-decoration: none;
    background: #e67e22;
    color: #6f594e;
    padding: 10px 20px;
    margin: 0px 10px;
    font-size: 20px;
    font-weight: 600;
}

/* slider-section */

.slider{
    background-image: url(anik.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    padding: 100px 50px;
}
.slider h1{
    color: #34495e;
}
.slider p{
    margin: 30px 0px;
   
}
.slider a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    background: #db3343;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}



/* body-section */
.about{
    background: #d35400;
    text-align: center;
    padding: 60px 30px;
}
.about p{
  color: #fff;
  line-height:25px;
  margin-bottom: 40px;
  font-size: 18px;
}
.about ul{}
.about ul li{
    display: inline-block;
    margin: 0px 10px;
    font-size: 20px;
    font-weight: 600;
    color: #34495e;
}

/* footer-section */

.footer{
    text-align: center;
    background: #2c3e50;
    padding: 40px 0px;
 
}
.footer ul{
  list-style: none;
}
.footer ul li{
    display: inline-block;
}
.footer ul li a{
    text-decoration: none;
    background: #e57e22;
    color: #6f594e;
    padding: 10px 20px;
    margin: 0px 10px;
    font-size: 20px;
    font-weight: 600;
    
}

.footer p{
    color: #fff;
    margin: 40px 0;
    font-size:20px;
}